In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.float_format", lambda x: "%.2f" % x)
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split, cross_val_score

In [129]:
df = pd.read_csv("hitters.csv")

In [130]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.00,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.00,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.00,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.50,N

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    object
 14  Division   322 non-null    object
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

In [132]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### Tail #####################")
    print(dataframe.tail(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())

check_df(df)

##################### Shape #####################
(322, 20)
##################### Types #####################
AtBat          int64
Hits           int64
HmRun          int64
Runs           int64
RBI            int64
Walks          int64
Years          int64
CAtBat         int64
CHits          int64
CHmRun         int64
CRuns          int64
CRBI           int64
CWalks         int64
League        object
Division      object
PutOuts        int64
Assists        int64
Errors         int64
Salary       float64
NewLeague     object
dtype: object
##################### Head #####################
   AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  CHmRun  CRuns  \
0    293    66      1    30   29     14      1     293     66       1     30
1    315    81      7    24   38     39     14    3449    835      69    321
2    479   130     18    66   72     76      3    1624    457      63    224

   CRBI  CWalks League Division  PutOuts  Assists  Errors  Salary NewLeague
0    29      14      A        E      446       33      20     NaN         A
1   414     375      N        W      632       43      10  475.00         N
2   266     263      A        W      880       82      14  480.00         A
##################### Tail #####################
     AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  CHmRun  \
319    475   126      3    61   43     52      6    1700    433       7
320    573   144      9    85   60     78      8    3198    857      97
321    631   170      9    77   44     31     11    4908   1457      30

     CRuns  CRBI  CWalks League Division  PutOuts  Assists  Errors  Salary  \
319    217    93     146      A        W       37      113       7  385.00
320    470   420     332      A        E     1314      131      12  960.00
321    775   357     249      A        W      408        4       3 1000.00

    NewLeague
319         A
320         A
321         A
##################### NA #####################
AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

In [133]:
df.columns

Index(['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'League', 'Division',
       'PutOuts', 'Assists', 'Errors', 'Salary', 'NewLeague'],
      dtype='object')

In [134]:
def grab_col_names(dataframe, cat_th=10, car_th=20):
    """
    grab_col_names for given dataframe

    :param dataframe:
    :param cat_th:
    :param car_th:
    :return:
    """

    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]

    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and
                   dataframe[col].dtypes != "O"]

    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and
                   dataframe[col].dtypes == "O"]

    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')

    # cat_cols + num_cols + cat_but_car = değişken sayısı.
    # num_but_cat cat_cols'un içerisinde zaten.
    # dolayısıyla tüm şu 3 liste ile tüm değişkenler seçilmiş olacaktır: cat_cols + num_cols + cat_but_car
    # num_but_cat sadece raporlama için verilmiştir.

    return cat_cols, cat_but_car, num_cols, num_but_cat

cat_cols, cat_but_car, num_cols, num_but_cat = grab_col_names(df)

Observations: 322
Variables: 20
cat_cols: 3
num_cols: 17
cat_but_car: 0
num_but_cat: 0

In [135]:
df.shape

(322, 20)

Veri Temizleme

In [136]:
def outlier_thresholds(dataframe, variable, low_quantile=0.20, up_quantile=0.80):
    quantile_one = dataframe[variable].quantile(low_quantile)
    quantile_three = dataframe[variable].quantile(up_quantile)
    interquantile_range = quantile_three - quantile_one
    up_limit = quantile_three + 1.5 * interquantile_range
    low_limit = quantile_one - 1.5 * interquantile_range
    return low_limit, up_limit

# Aykırı değer kontrolü
def check_outlier(dataframe, col_name):
    low_limit, up_limit = outlier_thresholds(dataframe, col_name)
    if dataframe[(dataframe[col_name] > up_limit) | (dataframe[col_name] < low_limit)].any(axis=None):
        return True
    else:
        return False


for col in num_cols:
    if col != "Salary":
      print(col, check_outlier(df, col))

AtBat False
Hits False
HmRun False
Runs False
RBI False
Walks False
Years False
CAtBat True
CHits True
CHmRun True
CRuns True
CRBI True
CWalks True
PutOuts True
Assists False
Errors True

In [137]:
def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit


for col in num_cols:
    if col != "Salary":
        replace_with_thresholds(df,col)

C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-248.90000000000015' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-73.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-19.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-46.20000000000002' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-44.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-38.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-10.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-5055.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1432.2999999999997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-130.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-739.8000000000003' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-568.8000000000001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-494.0000000000001' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-299.70000000000005' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
C:\Users\tunce\AppData\Local\Temp\ipykernel_22180\4260844954.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-303.20000000000005' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit

In [138]:
for col in num_cols:
    if col != "Salary":
      print(col, check_outlier(df, col))

AtBat False
Hits False
HmRun False
Runs False
RBI False
Walks False
Years False
CAtBat False
CHits False
CHmRun False
CRuns False
CRBI False
CWalks False
PutOuts False
Assists False
Errors False

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    float64
 1   Hits       322 non-null    float64
 2   HmRun      322 non-null    float64
 3   Runs       322 non-null    float64
 4   RBI        322 non-null    float64
 5   Walks      322 non-null    float64
 6   Years      322 non-null    float64
 7   CAtBat     322 non-null    float64
 8   CHits      322 non-null    float64
 9   CHmRun     322 non-null    float64
 10  CRuns      322 non-null    float64
 11  CRBI       322 non-null    float64
 12  CWalks     322 non-null    float64
 13  League     322 non-null    object
 14  Division   322 non-null    object
 15  PutOuts    322 non-null    float64
 16  Assists    322 non-null    float64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    object
dtypes: float64(16), int64(1), object(3)
memory usage: 50.4+ KB

In [140]:
def missing_values_table(dataframe, na_name=False):
    na_columns = [col for col in dataframe.columns if dataframe[col].isnull().sum() > 0]

    n_miss = dataframe[na_columns].isnull().sum().sort_values(ascending=False)

    ratio = (dataframe[na_columns].isnull().sum() / dataframe.shape[0] * 100).sort_values(ascending=False)

    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['n_miss', 'ratio'])

    print(missing_df, end="\n")

    if na_name:
        return na_columns

missing_values_table(df)

        n_miss  ratio
Salary      59  18.32

In [141]:
train_features = pd.get_dummies(train.drop('Salary', axis=1))
test_features = pd.get_dummies(test.drop('Salary', axis=1))

# Özelliklerin sütunları eşit olmalı, eksik sütunları tamamla:
train_features, test_features = train_features.align(test_features, join='left', axis=1, fill_value=0)

model.fit(train_features, train['Salary'])

df.loc[df['Salary'].isnull(), 'Salary'] = model.predict(test_features)

In [142]:
df['Salary'].unique()

array([ 228.5194258 ,  475.        ,  480.        ,  500.        ,
         91.5       ,  750.        ,   70.        ,  100.        ,
         75.        , 1100.        ,  517.143     ,  512.5       ,
        550.        ,  700.        ,  240.        ,   28.00816925,
        775.        ,  175.        ,  899.80863734,  135.        ,
        115.        ,  332.08011206,  600.        ,  776.667     ,
        765.        ,  708.333     ,  625.        ,  900.        ,
        968.87715886,  110.        , 1194.56465776,  612.5       ,
        300.        ,  850.        ,  163.9033947 ,   90.        ,
        963.95343059,  190.63991193,   67.5       ,  227.11400231,
        298.46314891,  180.        ,  377.34174696,  305.        ,
        215.        ,  247.5       , 1484.7730852 ,  815.        ,
        875.        ,  135.80526495, 1200.        ,  675.        ,
        415.        ,  340.        ,  394.37693754,  416.667     ,
       1350.        ,  275.        ,  230.        ,  225.        ,
         21.86640338,  950.        ,  235.57299773,  105.        ,
        542.43402565,  320.        ,  344.88705417,  535.        ,
        933.333     ,  210.        ,  324.36418838,  325.        ,
        355.692954  ,  450.        , 1975.        ,   69.97795803,
       1900.        , 1041.667     ,  260.        ,  431.5       ,
       1220.        ,  145.        ,  321.59171279,  595.        ,
       1861.46      ,  484.39701922,  490.        , 2460.        ,
        435.09705625,  375.        ,  622.70990881, 1315.0169427 ,
        112.43575229,  125.97122107, 1175.        , 1500.        ,
        385.        , 1925.571     ,  889.47213845,  155.        ,
        362.5       ,  733.333     ,  200.        ,  400.        ,
        737.5       ,  445.09798595,  662.5       ,  297.5       ,
         87.5       , 1237.5       ,  430.        ,  201.61755161,
        165.        ,  250.        , 1300.        ,  773.333     ,
        208.69098711, 1008.333     ,  365.        ,  161.76867446,
         95.        ,  277.5       ,   80.        ,  284.75566003,
        532.99972146,   45.1555879 ,  657.        , 2412.5       ,
        640.        ,  319.57935488,  825.        ,  276.39594777,
        195.        ,  255.95562349,  630.        ,   86.5       ,
       1000.        , 1800.        , 1310.        ,  125.        ,
       1043.333     ,  725.        , 1183.333     ,  202.5       ,
        525.        ,  265.        ,  787.5       ,  800.        ,
        587.5       ,  206.01978346,  572.83517893,  420.        ,
        575.        ,  269.65296888,  780.        ,  150.        ,
        415.09851521,  277.75425372,  650.        ,   68.        ,
        670.        ,  137.        , 2127.333     ,  120.        ,
        140.        ,  350.        ,  414.89439969,  165.19787307,
       1940.        ,  172.        , 1260.        ,  866.04572572,
        190.        ,  580.        ,  130.        , 1050.        ,
        698.48854654,  560.        , 1670.        ,  487.5       ,
        113.39418427,  425.        ,  102.93642706,  282.53034271,
        191.        ,  740.        ,   97.5       ,  341.667     ,
        220.96215476, 1450.        ,  190.42431666,  530.        ,
        940.        ,  326.667     ,  835.74017056,  925.        ,
        185.        ,  920.        ,  286.667     ,  245.        ,
        183.81262082,  235.        , 1150.        ,  160.        ,
       1218.86412845, 1117.73199179, 1600.        ,  326.91619646,
        960.        ])

In [143]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293.00,66.00,1.00,30.00,29.00,14.00,1.00,293.00,66.00,1.00,30.00,29.00,14.00,A,E,446.00,33.00,20,228.52,A
1,315.00,81.00,7.00,24.00,38.00,39.00,14.00,3449.00,835.00,69.00,321.00,414.00,375.00,N,W,632.00,43.00,10,475.00,N
2,479.00,130.00,18.00,66.00,72.00,76.00,3.00,1624.00,457.00,63.00,224.00,266.00,263.00,A,W,765.10,82.00,14,480.00,A
3,496.00,141.00,20.00,65.00,78.00,37.00,11.00,5628.00,1575.00,225.00,828.00,838.00,354.00,N,E,200.00,11.00,3,500.00,N
4,321.00,87.00,10.00,39.00,42.00,30.00,2.00,396.00,101.00,12.00,48.00,46.00,33.00,N,E,765.10,40.00,4,91.50,N

In [144]:
# DataFrame'i CSV dosyasına kaydet
df.to_csv('cleaned_hitters.csv', index=False)